h2 {
    font-size: 16px;
}

.view {
    border: solid 1px skyblue;
    width: 80%;
    height: 200px;
    overflow: scroll;
    background: lightgray;
}

.allusers {
    border: solid 1px green;
    width: 50px;
    height: 50px;
    overflow: scroll;
    background: gray;
}